:root {
  --green: #a9efc8;
  --blue: #bcddf8;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.icon {
  width: 7em;
  justify-self: center;
}

#main {
  display: grid;
  grid-template-rows: 17vh max-content auto;
  min-height: 100vh;
}

#header {
  background-color: var(--green);
  display: grid;
  grid-template-columns: 7fr 1fr;
  padding: 0 36px 0 36px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More vertical offset and blur for lifted effect */
  z-index: 1001;
  align-items: center;
}

#logo-div {
  display: flex;
  gap: 16px;
  justify-content: start;
  align-items: center;
  margin-top: -18px;
  user-select: none;
}

#logo-name {
  cursor: default;
  font-size: 46px;
  font-weight: 600;
  padding-top: 8px;
}

#add-div {
  justify-self: center;
}

#add-book-button {
  background-color: #9cdac1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 0 0 3px rgba(1, 54, 1, 0.05);
  transition: background-color 0.1s ease, transform 0.3s;
  transform: scale(1); /* initial scale */
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  opacity: 0.8;
  height: 90px;
  width: 200px;
  cursor: pointer;
}

#add-book-button:hover {
  background-color: #84b7a4;
  transform: scale(1.04);
}

/* Added clicking effect */
#add-book-button:active {
  /* Scale down the button slightly to create the clicking effect */
  transform: scale(0.96);
  /* Add a deeper shadow to give the button a pressed look */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

dialog {
  display: grid;
  background-color: var(--green);
  border-radius: 15px;
  visibility: hidden;
  grid-template-rows: 1fr 5fr;
  height: 50vh;
  width: 20vw;
  transform: scale(0.8); /* initial scale */
  backdrop-filter: blur(0px); /* initial blur effect */
  transition: transform 0.3s;
}

dialog.open {
  visibility: visible;
  transform: scale(1); /* final scale */
  backdrop-filter: blur(3px); /* final blur effect */
}

::backdrop {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px); /* add a 2px blur effect to the dialog background */;
}

dialog > p {
  justify-self: center;
  align-self: center;
  font-size: 24px;
  font-weight: 500;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr  max-content 1fr;
}

form > div {
  display: grid;
  grid-template-rows: max-content 1fr;
}

#readstatus-form {
  grid-template-columns: max-content 1fr;
  justify-items: start;
  align-items: center;
  padding-left: 4%;
  margin-top: -24px;
}

#readstatus-form > label {
  padding: 8px;
  font-size: 14px;
}

label {
  padding-left: 4%;
}

input {
  justify-self: center;
  height: 50%;
  width: 90%
}

input[type=text], input[type=number]{
  border-radius: 10px;
}

#dialog-buttons {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

#dialog-buttons > button {
  height: 50%;
  width: 90%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  transition: transform 0.2s;
  transform: scale(1); /* initial scale */
}

#dialog-buttons button:hover {
  transform: scale(1.05); /* initial scale */
}

#labels {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 2fr;
  gap: 32px;
  justify-items: center;
  align-items: center;
  font-size: 24px;
  padding: 30px 32px 0 32px;
  margin-bottom: -56px;
  z-index: 1000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.95);
}

#labels > p {
  padding-left: 24px;
}

#main-cont {
  display: grid;
  background-color: var(--blue);
  grid-auto-rows: 11vh;
  gap: 30px;
  padding: 64px;
}

.book {
  background-color: whitesmoke;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 2fr;
  gap: 32px;
  align-items: center;
  justify-items: center;
  font-size: 36px;
  transition: transform 0.3s;
  transform: scale(1);
}

.book:hover {
  transform: scale(1.02);
}

.book:hover p {
  opacity: 1;
}

.book > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 24px;
  transition: opacity 0.2s;
  opacity: 0.75;
}

.book-button-div {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.book-button-div > button {
  height: 75px;
  width: 95px;
}

.read-button {
  justify-self: end;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  border: 1px solid rgba(0, 128, 0, 0.1); /* for green buttons */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05); /* subtle shadow */
  border-radius: 15px;
  transition: opacity 0.2s, transform 0.3s;
  opacity: 0.7; /* initial opacity */
  transform: scale(1); /* initial scale */
  background-color: #ff4f4f;
}

.read-button:hover {
  opacity: 1; /* hover opacity */
  transform: scale(1.05); /* hover scale */
}

.read-button:active {
  transform: scale(0.95); /* click scale */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* deeper shadow on click */
}

.delete-button {
  justify-self: start;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1); /* for red buttons */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05); /* subtle shadow */
  border-radius: 15px;
  transition: opacity 0.2s, transform 0.3s;
  opacity: 0.7; /* initial opacity */
  transform: scale(1); /* initial scale */
  background-color: #ff2222;
}

.delete-button:hover {
  opacity: 1; /* hover opacity */
  transform: scale(1.05); /* hover scale */
}

.delete-button:active {
  transform: scale(0.95); /* click scale */
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* deeper shadow on click */
}

p {
  padding: 0;
  margin: 0;
}
